.App {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

body{
  margin: 0;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: london;
  src: url(../public/London.ttf);
}

.london{
  font-family: london;
}

.Sidebar{
  height: 100%;
  width: 600px;
  font-family: london;
  font-size:larger;
  background-color: 'transparent';
}

.SidebarList{
  height: 100%;
  padding: 20vw 15vw;
  width: 100%;
  font-family: london;
  
}

.SidebarList  .row{
  width: 100%;
  height: 40px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: rgb(194, 196, 195);
  justify-content: right;
  text-align: right;
}

.SidebarList  .row:hover{
  cursor: pointer;
  color: rgb(53, 53, 53);
}

.SidebarList #active{
  color: rgb(53, 53, 53);
}